.marigin-left {
    margin-left: 50px;
}
.uber-button {
    background-color: black;
    color : white;
    height: 36px;
    width: 120px;
    border : none;
    cursor: pointer;
}

.uber-button:hover {
    background-color: rgb(80, 84, 89);
    transition: 1.7s;
}

.amazon-button {
    background-color: rgb(266, 215, 20);
    border: none;
    height: 36px;
    width: 150px;
    border-radius: 18px;
    cursor: pointer;
}

.github-button-signup {
    background-color: rgb(46,164,79);
    border: none;
    color: white;
    height: 36px;
    width: 95px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
}

.bootstrap-button-get {
    background-color: rgb(121,82,179);
    border: none;
    color: white;
    height: 38px;
    width: 125px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
}

.bootstrap-button-download {
    background-color: white;
    border: solid 1px;
    border-color: rgb(108, 117, 125);
    color: rgb(108, 117, 125);
    height: 38px;
    width: 125px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
}